// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html, body, #app, #main-container, .row.widgets {
    height: 100%;
}

body {
    background: url("/img/textures/bgr.png") no-repeat top left / cover;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#main-navbar {
    position: fixed;
    min-height: 50px;
    width: 100%;
    z-index: 100;
    background: #1b1e21;
    color: #FFFFFF;
}

#main-container {
    padding-top: 50px;
}

.tab-content,
.tab-pane {
    height: 100%;
}

.link-box {
    display: flex;
    justify-content: space-between;

    &.card-body {
        padding: 5px 15px;
    }

    a {
        width: 100%;
        flex-grow: 1;
    }

    button {
        flex: 0 0;
        border: none;
        background: coral;
        color: #ffffff;
        display: block;
        padding: 3px 8px;
        border-radius: 50%;
        font-size: 10px;
        outline: none;
    }

    button:active, button:focus {
        border: none;
        outline: none;
    }
}

.note-box {
    position: relative;

    button.close {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 20px;
    }

    button.update {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 20px;
        border: none;
        background: none;
        text-align: center;
        margin: 0 5px 3px 0;
    }
}

.note-filter-btn {
    border-radius: 50%;
}

.acc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// menu panel styles


.widgets {
    padding-top: 20px;
    padding-bottom: 20px;

    .pills-column {
        background: none;
        justify-content: stretch;

        .pills-column-title {
            font-size: 1.5em;
            padding: 0 2em 0 0.5em;
            margin-bottom: 1.5em;
        }

        .nav-pills {
            background: #FFFFFF;
            flex-grow: 1;

            a.nav-link {
                border-radius: 0;
                color: #000000;

                &.active {
                    color: #FFFFFF;
                    background: #000000;
                }

                svg {
                    width: 2em;
                    text-align: left;
                    margin-right: 0.5em;
                }
            }
        }
    }
}



